
<div class="jumbotron">
  <% if @answer.correct %>
    <h1 class="display-4 ml-3 text-success">Resposta correta \o/ !</h1>
  <% else %>
    <h1 class="display-4 ml-3 text-danger">Resposta errada :( !</h1>
  <% end %>
</div>


