<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <%= link_to image_tag(avatar_url, alt:"...", class:"img-circle profile_img", id: 'imgAvatarMd'), '#', "data-toggle":"modal", "data-target":"#avatarModal" %>
  </div>
  <div class="profile_info">
    <span>Bem Vindo,</span>
    <h2><%= (current_user.full_name.blank?) ? current_user.email : current_user.full_name %></h2>
  </div>
</div>
<!-- /menu profile quick info -->