<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
    <%= image_tag 'img.jpg', alt:"...", class:"img-circle profile_img" %>
  </div>
  <div class="profile_info">
    <span>Bem Vindo,</span>
    <h2><%= (current_user.full_name.blank?) ? current_user.email : current_user.full_name %></h2>
  </div>
</div>
<!-- /menu profile quick info -->