<h1>Welcome - index</h1>
<!-- Flash messages notices -->
<% flash.each do |key, value| %>
  <div class="flash <%= key%>"><%= value%></div> 
<% end %>

<% if admin_signed_in? %>
  <%= link_to "#{current_admin.email}", destroy_admin_session_path, :method => :delete %>  
<% end %>
<br>
<% if profile_signed_in? %>
  <%= link_to "#{current_profile.email}", destroy_profile_session_path, :method => :delete %>  
<% end %>


