<div class="row">
<h1 class="display-4 m-3">Seja Bem vindo</h1>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-comments-o"></i></div>
    <div class="count"><%= @user_statistic.total_questions %></div>
    <h3>Total</h3>
    <p>Quantidade total de questões respondidas.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-check-square-o"></i></div>
    <div class="count"><%= @user_statistic.right_questions %></div>
    <h3>Acertos</h3>
    <p>Quantidade de questões certas.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-close"></i></div>
    <div class="count"><%= @user_statistic.wrong_questions %></div>
    <h3>Erros</h3>
    <p>Quantidade de questões erradas.</p>
  </div>
</div>

</div>