<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <% if user_signed_in? %>
      <h1>
        <%= msg_jumbotron %>
      </h1>
    <% else %>
        <h1>Faça o Login para começar a responder</h1>
    <% end %>    
  </div>
</div>