<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <% unless params[:term] %>
    <h1 class="display-5">Ultimas Perguntas</h1>        
  <% else %>
    <h4 class="display-5 ml-3"><%= "Resultado(s) para o termo \"#{params[:term]}\": #{@search_count} pergunta(s) encontrado(s)."%></h4>          
  <% end %>      
  </div>
</div>