<!-- Nav Item - Dashboard -->
<li class="nav-item">
  <%= link_to admins_backoffice_welcome_index_path, class: 'nav-link' do %>
  <i class="fas fa-fw fa-tachometer-alt"></i>
  <span>Dashboard</span>
  <% end%>
</li>
<!-- Nav Item - Administradores -->
<li class="nav-item">
  <%= link_to admins_backoffice_admins_path, class:"nav-link" do %>
  <i class="fas fa-fw fa-users"></i>
  <span>Administradores</span>
  <% end %>
</li>
<!-- Nav Item - Áreas/Assuntos -->
<li class="nav-item">
  <%= link_to admins_backoffice_subjects_path, class:"nav-link" do %>
  <i class="fas fa-fw fa-newspaper"></i>
  <span>Áreas/Assuntos</span>
  <% end %>
</li>
<!-- Nav Item - Perguntas -->
<li class="nav-item">
  <%= link_to admins_backoffice_questions_path, class:"nav-link" do %>
  <i class="fas fa-fw fa-th-list"></i>
  <span>Perguntas</span>
  <% end %>
</li>