<%= render 'site/shared/jumbotron' %>  

  <div class="container">
  <%= render 'site/shared/questions' %>  
   
  <% if user_signed_in? %>
  <div class="row justify-content-end mr-3"> 
    <%= paginate @questions %>
  </div>
  <% else %> 
  <div class="alert alert-warning" role="alert">
    <strong>Efetue o login para continuar respondendo !</strong>
  </div>
  <% end %>
      
</div>
